body {
  background-image: linear-gradient(to right, #de6161, #2657eb);
  /* background-image: linear-gradient(to right, #a770ef, #cf8bf3, #fdb99b); */
  /* background-image: linear-gradient(to right, #4568dc, #b06ab3); */
  /* background-color: #6C464F; */
}

h1 {
  text-align: center;
  /* border-style: solid; */
  /* padding: 15px;
  background-color: #9FA4C4; */
  font-family: "Brush Script MT", cursive;
  font-size: 80px;
  text-shadow: 3px 3px white;
}

canvas {
  position: absolute;
  border: 3px solid black;
  background-color: white;
  /* width: 1200px;
  height: 646px; */
  left: 20.1%;
}

#toolbar {
  background: rgba(38, 87, 235, 0.15);
  /* background-color: #6d597a; */
  border: 3px solid black;
  padding: 10px;
  width: 260px;
  height: 381px;
  /* display: flex;
  flex-direction: column; */
  font-family: "Brush Script MT", cursive;
  font-size: 25px;
}

#previous {
  background-color: white;
  border: 3px solid black;
  padding: 10px;
  width: 260px;
  height: 200px;
  font-family: "Brush Script MT", cursive;
  font-size: 20px;
}

#previous img{
  padding: 10px;
  width: 260px;
  height: 200px;
}

#showPopUp {
  position: relative;
  left: 93.3%;
  width: 100px;
  height: 40px;
  background: rgba(222, 97, 97, 0.3);
  /* background-color: #6d597a; */
  font-family: "Brush Script MT", cursive;
  font-size: 20px;
}

#closePopUp {
  position: relative; left: 215px; top: 1px;
}

#lineWidth {
  width: 50px;
}

#pencil {
  width: 80px;
  font-family: "Brush Script MT", cursive;
  font-size: 20px;
  border-radius: 50%;
}

#eraser {
  width: 90px;
  font-family: "Brush Script MT", cursive;
  font-size: 20px;
  border-radius: 50%;
}

/* #round {
  width: 100px;
  font-family: "Brush Script MT", cursive;
  font-size: 20px;
  border-radius: 50%;
}

#butt {
  width: 80px;
  font-family: "Brush Script MT", cursive;
  font-size: 20px;
  border-radius: 50%;
}

#square {
  width: 100px;
  font-family: "Brush Script MT", cursive;
  font-size: 20px;
  border-radius: 50%;
} */

#clear {
  width: 80px;
  font-family: "Brush Script MT", cursive;
  font-size: 20px;
  border-radius: 50%;
}

#undo {
  width: 80px;
  font-family: "Brush Script MT", cursive;
  font-size: 20px;
  border-radius: 50%;
}

#redo {
  width: 80px;
  font-family: "Brush Script MT", cursive;
  font-size: 20px;
  border-radius: 50%;
}

.container#blur.active {
  filter: blur(20px);
  pointer-events: none;
  user-select: none;
}

.center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  width: 30%;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.20);
  text-align: center;
  background-color: #9FA4C4;
}

.hideform {
  display: none;
}
